html {
  --offWhite: #f7f7f7;
  --white: #fff;
  --darkGrey: #9e9ea7;
  --lightGrey: #e9e9e9;
  --navy: #1d2c3e;
  --blue1: #6ec7d8;
  --blue2: #c6daef;
  --blue3: #7fa9df;
  --blue4: #1757cc;
  --blue4: #072e75;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--offWhite);
  color: var(--navy);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.controlsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
}

.lowerWidgetsWrapper {
  display: flex;
  justify-content: space-between;
}

.upperWidgetsWrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  margin-bottom: 10px;
  transition: box-shadow 0.5s;
  box-shadow: 0px 12px 12px 0px rgba(36, 42, 50, 0.05);
}

.rootWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mapWidgetWrapper,
.barChartWidgetWrapper,
.tornadoChartWidgetWrapper,
.sunBurstChartWidgetWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.barChartWidgetWrapper,
.tornadoChartWidgetWrapper,
.sunBurstChartWidgetWrapper {
  height: 100%;
  transition: box-shadow 0.5s;
  box-shadow: 0px 12px 12px 0px rgba(36, 42, 50, 0.05);
}

.emptyPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 35.5%;
}

.widgetWithLegend {
  display: flex;
  flex-direction: column;
}

.barChartWidgetWrapper:hover,
.tornadoChartWidgetWrapper:hover,
.sunBurstChartWidgetWrapper:hover,
.upperWidgetsWrapper:hover {
  box-shadow: 0px 24px 24px 0px rgba(36, 42, 50, 0.15);
}

.legendWrapper {
  background-color: var(--white);
}

.sunBurstChartWidgetWrapper {
  padding: 15px;
  box-sizing: border-box;
}

.country {
  stroke: var(--white);
  transition: fill 0.5s;
}

.country:hover {
  fill: var(--navy);
  cursor: pointer;
}

.--tornadoBar-positive {
  fill: var(--blue3);
}

.--tornadoBar-negative {
  fill: var(--blue4);
}

.bar {
  fill: var(--blue1);
}

.axis path,
.axis line {
  fill: none;
  stroke: var(--navy);
  shape-rendering: crispEdges;
}

#mapChartTooltip,
#barChartTooltip,
#tornadoChartTooltip,
#sunBurstChartTooltip {
  background: var(--white);
  border: 1px solid var(--lightGrey);
  padding: 5px;
  box-shadow: 0px 12px 12px 0px rgba(36, 42, 50, 0.1);
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
